.content {
    width: 100%;
    height: 100%;
    display: flex
;
    flex-direction: column;
    align-items: center;
}
.banner1 {

    display: flex
    ;
        width: 100%;
        height: 70vh;
        margin: 0%;
        background-color: white;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

}

.textobanner1 {

    display: flex;
    font-size: 0.45rem;
  font-family: 'Antropos', sans-serif;
  margin: 2%;
  text-align: center;
}

.textobanner1 p {

    font-size: 0.7rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    margin: 4%;
}




.slidertecnico {

    width: 90%;
    height: 50vh;
    margin: 10%;
    border: 1px solid orange;

}

.imgslider {


    width: 100%;
    height: auto;
}
.sobre{

    width: 90%;
    height: 40vh;
    margin: 10%;
    border: 1px solid yellow
}

.imgsobre {


    width: 100%;
    height: auto;
}