.main {
  background-color: blanchedalmond;
  width: 90%;
  height: 100%;
}

.page {
  margin: 0;
  display: flex;
  width: 100%;
  height: auto;
  background-color: green;
  flex-direction: column;
  align-items: center;
}
